<h1>PIRATES!</h1>
<h2>Pirate Name: <%= @pirate.p_name %></h2>
<h2>Pirate Weight: <%= @pirate.p_weight %></h2>
<h2>Pirate Height: <%= @pirate.p_height %></h2>


<h2>Display your first ship here</h2>


<h2>Display your second ship here</h2>
